database=ACE17K	threads=32
alpha=0.025	bern=0	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.025	bern=0	dimension=100	epoch=1000	margin=1.75	nbatches=100	weighted=False
alpha=0.025	bern=0	dimension=100	epoch=1000	margin=2.5	nbatches=100	weighted=False
alpha=0.025	bern=0	dimension=100	epoch=1000	margin=3.25	nbatches=100	weighted=False
alpha=0.025	bern=0	dimension=100	epoch=1000	margin=4.0	nbatches=100	weighted=False
alpha=0.02	bern=0	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.02	bern=0	dimension=100	epoch=1000	margin=1.75	nbatches=100	weighted=False
alpha=0.02	bern=0	dimension=100	epoch=1000	margin=2.5	nbatches=100	weighted=False
alpha=0.02	bern=0	dimension=100	epoch=1000	margin=3.25	nbatches=100	weighted=False
alpha=0.02	bern=0	dimension=100	epoch=1000	margin=4.0	nbatches=100	weighted=False
alpha=0.015	bern=0	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.015	bern=0	dimension=100	epoch=1000	margin=1.75	nbatches=100	weighted=False
alpha=0.015	bern=0	dimension=100	epoch=1000	margin=2.5	nbatches=100	weighted=False
alpha=0.015	bern=0	dimension=100	epoch=1000	margin=3.25	nbatches=100	weighted=False
alpha=0.015	bern=0	dimension=100	epoch=1000	margin=4.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=100	epoch=1000	margin=1.75	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=100	epoch=1000	margin=2.5	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=100	epoch=1000	margin=3.25	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=100	epoch=1000	margin=4.0	nbatches=100	weighted=False
alpha=0.005	bern=0	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.005	bern=0	dimension=100	epoch=1000	margin=1.75	nbatches=100	weighted=False
alpha=0.005	bern=0	dimension=100	epoch=1000	margin=2.5	nbatches=100	weighted=False
alpha=0.005	bern=0	dimension=100	epoch=1000	margin=3.25	nbatches=100	weighted=False
alpha=0.005	bern=0	dimension=100	epoch=1000	margin=4.0	nbatches=100	weighted=False
alpha=0.025	bern=1	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.025	bern=1	dimension=100	epoch=1000	margin=1.75	nbatches=100	weighted=False
alpha=0.025	bern=1	dimension=100	epoch=1000	margin=2.5	nbatches=100	weighted=False
alpha=0.025	bern=1	dimension=100	epoch=1000	margin=3.25	nbatches=100	weighted=False
alpha=0.025	bern=1	dimension=100	epoch=1000	margin=4.0	nbatches=100	weighted=False
alpha=0.02	bern=1	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.02	bern=1	dimension=100	epoch=1000	margin=1.75	nbatches=100	weighted=False
alpha=0.02	bern=1	dimension=100	epoch=1000	margin=2.5	nbatches=100	weighted=False
alpha=0.02	bern=1	dimension=100	epoch=1000	margin=3.25	nbatches=100	weighted=False
alpha=0.02	bern=1	dimension=100	epoch=1000	margin=4.0	nbatches=100	weighted=False
alpha=0.015	bern=1	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.015	bern=1	dimension=100	epoch=1000	margin=1.75	nbatches=100	weighted=False
alpha=0.015	bern=1	dimension=100	epoch=1000	margin=2.5	nbatches=100	weighted=False
alpha=0.015	bern=1	dimension=100	epoch=1000	margin=3.25	nbatches=100	weighted=False
alpha=0.015	bern=1	dimension=100	epoch=1000	margin=4.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=100	epoch=1000	margin=1.75	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=100	epoch=1000	margin=2.5	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=100	epoch=1000	margin=3.25	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=100	epoch=1000	margin=4.0	nbatches=100	weighted=False
alpha=0.005	bern=1	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.005	bern=1	dimension=100	epoch=1000	margin=1.75	nbatches=100	weighted=False
alpha=0.005	bern=1	dimension=100	epoch=1000	margin=2.5	nbatches=100	weighted=False
alpha=0.005	bern=1	dimension=100	epoch=1000	margin=3.25	nbatches=100	weighted=False
alpha=0.005	bern=1	dimension=100	epoch=1000	margin=4.0	nbatches=100	weighted=False
