database=ACE17K	threads=32
alpha=0.04	bern=0	dimension=300	epoch=5000	lmbda=0.01	margin=1.75	nbatches=100	weighted=False
alpha=0.04	bern=0	dimension=300	epoch=5000	lmbda=0.01	margin=1.75	nbatches=100	weighted=True
alpha=0.04	bern=0	dimension=300	epoch=5000	lmbda=0.001	margin=1.75	nbatches=100	weighted=False
alpha=0.04	bern=0	dimension=300	epoch=5000	lmbda=0.001	margin=1.75	nbatches=100	weighted=True
alpha=0.04	bern=1	dimension=300	epoch=5000	lmbda=0.01	margin=1.75	nbatches=100	weighted=False
alpha=0.04	bern=1	dimension=300	epoch=5000	lmbda=0.01	margin=1.75	nbatches=100	weighted=True
alpha=0.04	bern=1	dimension=300	epoch=5000	lmbda=0.001	margin=1.75	nbatches=100	weighted=False
alpha=0.04	bern=1	dimension=300	epoch=5000	lmbda=0.001	margin=1.75	nbatches=100	weighted=True
