dataset=ACE17K	threads=32
alpha=0.001	bern=0	dimension=1000	epoch=5000	margin=2	nbatches=100
alpha=0.001	bern=0	dimension=500	epoch=5000	margin=2	nbatches=100
alpha=0.001	bern=0	dimension=250	epoch=5000	margin=2	nbatches=100
alpha=0.001	bern=0	dimension=1000	epoch=2500	margin=2	nbatches=100
alpha=0.001	bern=0	dimension=500	epoch=2500	margin=2	nbatches=100
alpha=0.001	bern=0	dimension=250	epoch=2500	margin=2	nbatches=100
alpha=0.001	bern=0	dimension=1000	epoch=1500	margin=2	nbatches=100
alpha=0.001	bern=0	dimension=500	epoch=1500	margin=2	nbatches=100
alpha=0.001	bern=0	dimension=250	epoch=1500	margin=2	nbatches=100
