database=ACE17K	threads=32
alpha=0.1	bern=0	dimension=150	epoch=2000	margin=1.5	nbatches=100	weighted=False
alpha=0.05	bern=0	dimension=150	epoch=2000	margin=1.5	nbatches=100	weighted=False
alpha=0.1	bern=0	dimension=150	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.05	bern=0	dimension=150	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.1	bern=0	dimension=300	epoch=2000	margin=1.5	nbatches=100	weighted=False
alpha=0.05	bern=0	dimension=300	epoch=2000	margin=1.5	nbatches=100	weighted=False
alpha=0.1	bern=0	dimension=300	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.05	bern=0	dimension=300	epoch=2000	margin=2.0	nbatches=100	weighted=False
