dataset=ACE17K	threads=32
alpha=0.0005	bern=0	dimension=500	epoch=5000	margin=1.5	nbatches=100
alpha=0.0005	bern=0	dimension=500	epoch=5000	margin=2.0	nbatches=100
alpha=0.0005	bern=0	dimension=500	epoch=5000	margin=2.5	nbatches=100
alpha=0.0005	bern=0	dimension=500	epoch=5000	margin=3.0	nbatches=100
alpha=0.001	bern=0	dimension=500	epoch=5000	margin=1.5	nbatches=100
alpha=0.001	bern=0	dimension=500	epoch=5000	margin=2.0	nbatches=100
alpha=0.001	bern=0	dimension=500	epoch=5000	margin=2.5	nbatches=100
alpha=0.001	bern=0	dimension=500	epoch=5000	margin=3.0	nbatches=100
alpha=0.003	bern=0	dimension=500	epoch=5000	margin=1.5	nbatches=100
alpha=0.003	bern=0	dimension=500	epoch=5000	margin=2.0	nbatches=100
alpha=0.003	bern=0	dimension=500	epoch=5000	margin=2.5	nbatches=100
alpha=0.003	bern=0	dimension=500	epoch=5000	margin=3.0	nbatches=100
alpha=0.01	bern=0	dimension=500	epoch=5000	margin=1.5	nbatches=100
alpha=0.01	bern=0	dimension=500	epoch=5000	margin=2.0	nbatches=100
alpha=0.01	bern=0	dimension=500	epoch=5000	margin=2.5	nbatches=100
alpha=0.01	bern=0	dimension=500	epoch=5000	margin=3.0	nbatches=100
