database=ACE17K	threads=32
alpha=0.002	bern=0	dimension=300	epoch=5000	margin=2.5	nbatches=100	weighted=True
alpha=0.003	bern=0	dimension=300	epoch=5000	margin=2.5	nbatches=100	weighted=True
alpha=0.002	bern=0	dimension=300	epoch=5000	margin=2.0	nbatches=100	weighted=True
alpha=0.003	bern=0	dimension=300	epoch=5000	margin=2.0	nbatches=100	weighted=True
alpha=0.002	bern=1	dimension=300	epoch=5000	margin=2.5	nbatches=100	weighted=True
alpha=0.003	bern=1	dimension=300	epoch=5000	margin=2.5	nbatches=100	weighted=True
alpha=0.002	bern=1	dimension=300	epoch=5000	margin=2.0	nbatches=100	weighted=True
alpha=0.003	bern=1	dimension=300	epoch=5000	margin=2.0	nbatches=100	weighted=True
