threads=4	start=1	count=8	dataset=ACE17K	
dimension=100	alpha=0.001	bern=0	epoch=1000	margin=1	nbatches=200	
dimension=200	alpha=0.001	bern=0	epoch=1000	margin=1	nbatches=200	
dimension=100	alpha=0.001	bern=0	epoch=1000	margin=2	nbatches=200	
dimension=200	alpha=0.001	bern=0	epoch=1000	margin=2	nbatches=200	
dimension=100	alpha=0.001	bern=0	epoch=1500	margin=1	nbatches=200	
dimension=200	alpha=0.001	bern=0	epoch=1500	margin=1	nbatches=200	
dimension=100	alpha=0.001	bern=0	epoch=1500	margin=2	nbatches=200	
dimension=200	alpha=0.001	bern=0	epoch=1500	margin=2	nbatches=200	
