database=ACE17K	threads=32
alpha=0.001	bern=0	dimension=300	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=200	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=100	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=300	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=200	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=100	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=300	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=200	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=100	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=300	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=200	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=100	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=300	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=200	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=100	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=300	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=200	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.001	bern=0	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=300	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=200	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=100	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=300	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=200	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=100	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=300	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=200	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=100	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=300	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=200	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=100	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=300	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=200	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=100	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=300	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=200	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=0	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=300	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=200	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=100	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=300	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=200	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=100	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=300	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=200	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=100	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=300	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=200	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=100	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=300	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=200	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=100	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=300	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=200	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=0	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=300	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=200	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=100	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=300	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=200	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=100	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=300	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=200	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=100	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=300	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=200	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=100	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=300	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=200	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=100	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=300	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=200	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.001	bern=1	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=300	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=200	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=100	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=300	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=200	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=100	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=300	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=200	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=100	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=300	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=200	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=100	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=300	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=200	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=100	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=300	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=200	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.003	bern=1	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=300	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=200	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=100	epoch=2000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=300	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=200	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=100	epoch=1000	margin=3.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=300	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=200	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=100	epoch=2000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=300	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=200	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=100	epoch=1000	margin=2.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=300	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=200	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=100	epoch=2000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=300	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=200	epoch=1000	margin=1.0	nbatches=100	weighted=False
alpha=0.01	bern=1	dimension=100	epoch=1000	margin=1.0	nbatches=100	weighted=False
