count=256	start=1	threads=32	
dimension=100	alpha=0.001	nbatches=100	bern=0	margin=1	epoch=1000	
dimension=150	alpha=0.001	nbatches=100	bern=0	margin=1	epoch=1000	
dimension=200	alpha=0.001	nbatches=100	bern=0	margin=1	epoch=1000	
dimension=250	alpha=0.001	nbatches=100	bern=0	margin=1	epoch=1000	
dimension=100	alpha=0.001	nbatches=100	bern=1	margin=1	epoch=1000	
dimension=150	alpha=0.001	nbatches=100	bern=1	margin=1	epoch=1000	
dimension=200	alpha=0.001	nbatches=100	bern=1	margin=1	epoch=1000	
dimension=250	alpha=0.001	nbatches=100	bern=1	margin=1	epoch=1000	
dimension=100	alpha=0.001	nbatches=100	bern=0	margin=2	epoch=1000	
dimension=150	alpha=0.001	nbatches=100	bern=0	margin=2	epoch=1000	
dimension=200	alpha=0.001	nbatches=100	bern=0	margin=2	epoch=1000	
dimension=250	alpha=0.001	nbatches=100	bern=0	margin=2	epoch=1000	
dimension=100	alpha=0.001	nbatches=100	bern=1	margin=2	epoch=1000	
dimension=150	alpha=0.001	nbatches=100	bern=1	margin=2	epoch=1000	
dimension=200	alpha=0.001	nbatches=100	bern=1	margin=2	epoch=1000	
dimension=250	alpha=0.001	nbatches=100	bern=1	margin=2	epoch=1000	
dimension=100	alpha=0.001	nbatches=100	bern=0	margin=3	epoch=1000	
dimension=150	alpha=0.001	nbatches=100	bern=0	margin=3	epoch=1000	
dimension=200	alpha=0.001	nbatches=100	bern=0	margin=3	epoch=1000	
dimension=250	alpha=0.001	nbatches=100	bern=0	margin=3	epoch=1000	
dimension=100	alpha=0.001	nbatches=100	bern=1	margin=3	epoch=1000	
dimension=150	alpha=0.001	nbatches=100	bern=1	margin=3	epoch=1000	
dimension=200	alpha=0.001	nbatches=100	bern=1	margin=3	epoch=1000	
dimension=250	alpha=0.001	nbatches=100	bern=1	margin=3	epoch=1000	
dimension=100	alpha=0.001	nbatches=100	bern=0	margin=4	epoch=1000	
dimension=150	alpha=0.001	nbatches=100	bern=0	margin=4	epoch=1000	
dimension=200	alpha=0.001	nbatches=100	bern=0	margin=4	epoch=1000	
dimension=250	alpha=0.001	nbatches=100	bern=0	margin=4	epoch=1000	
dimension=100	alpha=0.001	nbatches=100	bern=1	margin=4	epoch=1000	
dimension=150	alpha=0.001	nbatches=100	bern=1	margin=4	epoch=1000	
dimension=200	alpha=0.001	nbatches=100	bern=1	margin=4	epoch=1000	
dimension=250	alpha=0.001	nbatches=100	bern=1	margin=4	epoch=1000	
dimension=100	alpha=0.01	nbatches=100	bern=0	margin=1	epoch=1000	
dimension=150	alpha=0.01	nbatches=100	bern=0	margin=1	epoch=1000	
dimension=200	alpha=0.01	nbatches=100	bern=0	margin=1	epoch=1000	
dimension=250	alpha=0.01	nbatches=100	bern=0	margin=1	epoch=1000	
dimension=100	alpha=0.01	nbatches=100	bern=1	margin=1	epoch=1000	
dimension=150	alpha=0.01	nbatches=100	bern=1	margin=1	epoch=1000	
dimension=200	alpha=0.01	nbatches=100	bern=1	margin=1	epoch=1000	
dimension=250	alpha=0.01	nbatches=100	bern=1	margin=1	epoch=1000	
dimension=100	alpha=0.01	nbatches=100	bern=0	margin=2	epoch=1000	
dimension=150	alpha=0.01	nbatches=100	bern=0	margin=2	epoch=1000	
dimension=200	alpha=0.01	nbatches=100	bern=0	margin=2	epoch=1000	
dimension=250	alpha=0.01	nbatches=100	bern=0	margin=2	epoch=1000	
dimension=100	alpha=0.01	nbatches=100	bern=1	margin=2	epoch=1000	
dimension=150	alpha=0.01	nbatches=100	bern=1	margin=2	epoch=1000	
dimension=200	alpha=0.01	nbatches=100	bern=1	margin=2	epoch=1000	
dimension=250	alpha=0.01	nbatches=100	bern=1	margin=2	epoch=1000	
dimension=100	alpha=0.01	nbatches=100	bern=0	margin=3	epoch=1000	
dimension=150	alpha=0.01	nbatches=100	bern=0	margin=3	epoch=1000	
dimension=200	alpha=0.01	nbatches=100	bern=0	margin=3	epoch=1000	
dimension=250	alpha=0.01	nbatches=100	bern=0	margin=3	epoch=1000	
dimension=100	alpha=0.01	nbatches=100	bern=1	margin=3	epoch=1000	
dimension=150	alpha=0.01	nbatches=100	bern=1	margin=3	epoch=1000	
dimension=200	alpha=0.01	nbatches=100	bern=1	margin=3	epoch=1000	
dimension=250	alpha=0.01	nbatches=100	bern=1	margin=3	epoch=1000	
dimension=100	alpha=0.01	nbatches=100	bern=0	margin=4	epoch=1000	
dimension=150	alpha=0.01	nbatches=100	bern=0	margin=4	epoch=1000	
dimension=200	alpha=0.01	nbatches=100	bern=0	margin=4	epoch=1000	
dimension=250	alpha=0.01	nbatches=100	bern=0	margin=4	epoch=1000	
dimension=100	alpha=0.01	nbatches=100	bern=1	margin=4	epoch=1000	
dimension=150	alpha=0.01	nbatches=100	bern=1	margin=4	epoch=1000	
dimension=200	alpha=0.01	nbatches=100	bern=1	margin=4	epoch=1000	
dimension=250	alpha=0.01	nbatches=100	bern=1	margin=4	epoch=1000	
dimension=100	alpha=0.001	nbatches=200	bern=0	margin=1	epoch=1000	
dimension=150	alpha=0.001	nbatches=200	bern=0	margin=1	epoch=1000	
dimension=200	alpha=0.001	nbatches=200	bern=0	margin=1	epoch=1000	
dimension=250	alpha=0.001	nbatches=200	bern=0	margin=1	epoch=1000	
dimension=100	alpha=0.001	nbatches=200	bern=1	margin=1	epoch=1000	
dimension=150	alpha=0.001	nbatches=200	bern=1	margin=1	epoch=1000	
dimension=200	alpha=0.001	nbatches=200	bern=1	margin=1	epoch=1000	
dimension=250	alpha=0.001	nbatches=200	bern=1	margin=1	epoch=1000	
dimension=100	alpha=0.001	nbatches=200	bern=0	margin=2	epoch=1000	
dimension=150	alpha=0.001	nbatches=200	bern=0	margin=2	epoch=1000	
dimension=200	alpha=0.001	nbatches=200	bern=0	margin=2	epoch=1000	
dimension=250	alpha=0.001	nbatches=200	bern=0	margin=2	epoch=1000	
dimension=100	alpha=0.001	nbatches=200	bern=1	margin=2	epoch=1000	
dimension=150	alpha=0.001	nbatches=200	bern=1	margin=2	epoch=1000	
dimension=200	alpha=0.001	nbatches=200	bern=1	margin=2	epoch=1000	
dimension=250	alpha=0.001	nbatches=200	bern=1	margin=2	epoch=1000	
dimension=100	alpha=0.001	nbatches=200	bern=0	margin=3	epoch=1000	
dimension=150	alpha=0.001	nbatches=200	bern=0	margin=3	epoch=1000	
dimension=200	alpha=0.001	nbatches=200	bern=0	margin=3	epoch=1000	
dimension=250	alpha=0.001	nbatches=200	bern=0	margin=3	epoch=1000	
dimension=100	alpha=0.001	nbatches=200	bern=1	margin=3	epoch=1000	
dimension=150	alpha=0.001	nbatches=200	bern=1	margin=3	epoch=1000	
dimension=200	alpha=0.001	nbatches=200	bern=1	margin=3	epoch=1000	
dimension=250	alpha=0.001	nbatches=200	bern=1	margin=3	epoch=1000	
dimension=100	alpha=0.001	nbatches=200	bern=0	margin=4	epoch=1000	
dimension=150	alpha=0.001	nbatches=200	bern=0	margin=4	epoch=1000	
dimension=200	alpha=0.001	nbatches=200	bern=0	margin=4	epoch=1000	
dimension=250	alpha=0.001	nbatches=200	bern=0	margin=4	epoch=1000	
dimension=100	alpha=0.001	nbatches=200	bern=1	margin=4	epoch=1000	
dimension=150	alpha=0.001	nbatches=200	bern=1	margin=4	epoch=1000	
dimension=200	alpha=0.001	nbatches=200	bern=1	margin=4	epoch=1000	
dimension=250	alpha=0.001	nbatches=200	bern=1	margin=4	epoch=1000	
dimension=100	alpha=0.01	nbatches=200	bern=0	margin=1	epoch=1000	
dimension=150	alpha=0.01	nbatches=200	bern=0	margin=1	epoch=1000	
dimension=200	alpha=0.01	nbatches=200	bern=0	margin=1	epoch=1000	
dimension=250	alpha=0.01	nbatches=200	bern=0	margin=1	epoch=1000	
dimension=100	alpha=0.01	nbatches=200	bern=1	margin=1	epoch=1000	
dimension=150	alpha=0.01	nbatches=200	bern=1	margin=1	epoch=1000	
dimension=200	alpha=0.01	nbatches=200	bern=1	margin=1	epoch=1000	
dimension=250	alpha=0.01	nbatches=200	bern=1	margin=1	epoch=1000	
dimension=100	alpha=0.01	nbatches=200	bern=0	margin=2	epoch=1000	
dimension=150	alpha=0.01	nbatches=200	bern=0	margin=2	epoch=1000	
dimension=200	alpha=0.01	nbatches=200	bern=0	margin=2	epoch=1000	
dimension=250	alpha=0.01	nbatches=200	bern=0	margin=2	epoch=1000	
dimension=100	alpha=0.01	nbatches=200	bern=1	margin=2	epoch=1000	
dimension=150	alpha=0.01	nbatches=200	bern=1	margin=2	epoch=1000	
dimension=200	alpha=0.01	nbatches=200	bern=1	margin=2	epoch=1000	
dimension=250	alpha=0.01	nbatches=200	bern=1	margin=2	epoch=1000	
dimension=100	alpha=0.01	nbatches=200	bern=0	margin=3	epoch=1000	
dimension=150	alpha=0.01	nbatches=200	bern=0	margin=3	epoch=1000	
dimension=200	alpha=0.01	nbatches=200	bern=0	margin=3	epoch=1000	
dimension=250	alpha=0.01	nbatches=200	bern=0	margin=3	epoch=1000	
dimension=100	alpha=0.01	nbatches=200	bern=1	margin=3	epoch=1000	
dimension=150	alpha=0.01	nbatches=200	bern=1	margin=3	epoch=1000	
dimension=200	alpha=0.01	nbatches=200	bern=1	margin=3	epoch=1000	
dimension=250	alpha=0.01	nbatches=200	bern=1	margin=3	epoch=1000	
dimension=100	alpha=0.01	nbatches=200	bern=0	margin=4	epoch=1000	
dimension=150	alpha=0.01	nbatches=200	bern=0	margin=4	epoch=1000	
dimension=200	alpha=0.01	nbatches=200	bern=0	margin=4	epoch=1000	
dimension=250	alpha=0.01	nbatches=200	bern=0	margin=4	epoch=1000	
dimension=100	alpha=0.01	nbatches=200	bern=1	margin=4	epoch=1000	
dimension=150	alpha=0.01	nbatches=200	bern=1	margin=4	epoch=1000	
dimension=200	alpha=0.01	nbatches=200	bern=1	margin=4	epoch=1000	
dimension=250	alpha=0.01	nbatches=200	bern=1	margin=4	epoch=1000	
dimension=100	alpha=0.001	nbatches=100	bern=0	margin=1	epoch=1500	
dimension=150	alpha=0.001	nbatches=100	bern=0	margin=1	epoch=1500	
dimension=200	alpha=0.001	nbatches=100	bern=0	margin=1	epoch=1500	
dimension=250	alpha=0.001	nbatches=100	bern=0	margin=1	epoch=1500	
dimension=100	alpha=0.001	nbatches=100	bern=1	margin=1	epoch=1500	
dimension=150	alpha=0.001	nbatches=100	bern=1	margin=1	epoch=1500	
dimension=200	alpha=0.001	nbatches=100	bern=1	margin=1	epoch=1500	
dimension=250	alpha=0.001	nbatches=100	bern=1	margin=1	epoch=1500	
dimension=100	alpha=0.001	nbatches=100	bern=0	margin=2	epoch=1500	
dimension=150	alpha=0.001	nbatches=100	bern=0	margin=2	epoch=1500	
dimension=200	alpha=0.001	nbatches=100	bern=0	margin=2	epoch=1500	
dimension=250	alpha=0.001	nbatches=100	bern=0	margin=2	epoch=1500	
dimension=100	alpha=0.001	nbatches=100	bern=1	margin=2	epoch=1500	
dimension=150	alpha=0.001	nbatches=100	bern=1	margin=2	epoch=1500	
dimension=200	alpha=0.001	nbatches=100	bern=1	margin=2	epoch=1500	
dimension=250	alpha=0.001	nbatches=100	bern=1	margin=2	epoch=1500	
dimension=100	alpha=0.001	nbatches=100	bern=0	margin=3	epoch=1500	
dimension=150	alpha=0.001	nbatches=100	bern=0	margin=3	epoch=1500	
dimension=200	alpha=0.001	nbatches=100	bern=0	margin=3	epoch=1500	
dimension=250	alpha=0.001	nbatches=100	bern=0	margin=3	epoch=1500	
dimension=100	alpha=0.001	nbatches=100	bern=1	margin=3	epoch=1500	
dimension=150	alpha=0.001	nbatches=100	bern=1	margin=3	epoch=1500	
dimension=200	alpha=0.001	nbatches=100	bern=1	margin=3	epoch=1500	
dimension=250	alpha=0.001	nbatches=100	bern=1	margin=3	epoch=1500	
dimension=100	alpha=0.001	nbatches=100	bern=0	margin=4	epoch=1500	
dimension=150	alpha=0.001	nbatches=100	bern=0	margin=4	epoch=1500	
dimension=200	alpha=0.001	nbatches=100	bern=0	margin=4	epoch=1500	
dimension=250	alpha=0.001	nbatches=100	bern=0	margin=4	epoch=1500	
dimension=100	alpha=0.001	nbatches=100	bern=1	margin=4	epoch=1500	
dimension=150	alpha=0.001	nbatches=100	bern=1	margin=4	epoch=1500	
dimension=200	alpha=0.001	nbatches=100	bern=1	margin=4	epoch=1500	
dimension=250	alpha=0.001	nbatches=100	bern=1	margin=4	epoch=1500	
dimension=100	alpha=0.01	nbatches=100	bern=0	margin=1	epoch=1500	
dimension=150	alpha=0.01	nbatches=100	bern=0	margin=1	epoch=1500	
dimension=200	alpha=0.01	nbatches=100	bern=0	margin=1	epoch=1500	
dimension=250	alpha=0.01	nbatches=100	bern=0	margin=1	epoch=1500	
dimension=100	alpha=0.01	nbatches=100	bern=1	margin=1	epoch=1500	
dimension=150	alpha=0.01	nbatches=100	bern=1	margin=1	epoch=1500	
dimension=200	alpha=0.01	nbatches=100	bern=1	margin=1	epoch=1500	
dimension=250	alpha=0.01	nbatches=100	bern=1	margin=1	epoch=1500	
dimension=100	alpha=0.01	nbatches=100	bern=0	margin=2	epoch=1500	
dimension=150	alpha=0.01	nbatches=100	bern=0	margin=2	epoch=1500	
dimension=200	alpha=0.01	nbatches=100	bern=0	margin=2	epoch=1500	
dimension=250	alpha=0.01	nbatches=100	bern=0	margin=2	epoch=1500	
dimension=100	alpha=0.01	nbatches=100	bern=1	margin=2	epoch=1500	
dimension=150	alpha=0.01	nbatches=100	bern=1	margin=2	epoch=1500	
dimension=200	alpha=0.01	nbatches=100	bern=1	margin=2	epoch=1500	
dimension=250	alpha=0.01	nbatches=100	bern=1	margin=2	epoch=1500	
dimension=100	alpha=0.01	nbatches=100	bern=0	margin=3	epoch=1500	
dimension=150	alpha=0.01	nbatches=100	bern=0	margin=3	epoch=1500	
dimension=200	alpha=0.01	nbatches=100	bern=0	margin=3	epoch=1500	
dimension=250	alpha=0.01	nbatches=100	bern=0	margin=3	epoch=1500	
dimension=100	alpha=0.01	nbatches=100	bern=1	margin=3	epoch=1500	
dimension=150	alpha=0.01	nbatches=100	bern=1	margin=3	epoch=1500	
dimension=200	alpha=0.01	nbatches=100	bern=1	margin=3	epoch=1500	
dimension=250	alpha=0.01	nbatches=100	bern=1	margin=3	epoch=1500	
dimension=100	alpha=0.01	nbatches=100	bern=0	margin=4	epoch=1500	
dimension=150	alpha=0.01	nbatches=100	bern=0	margin=4	epoch=1500	
dimension=200	alpha=0.01	nbatches=100	bern=0	margin=4	epoch=1500	
dimension=250	alpha=0.01	nbatches=100	bern=0	margin=4	epoch=1500	
dimension=100	alpha=0.01	nbatches=100	bern=1	margin=4	epoch=1500	
dimension=150	alpha=0.01	nbatches=100	bern=1	margin=4	epoch=1500	
dimension=200	alpha=0.01	nbatches=100	bern=1	margin=4	epoch=1500	
dimension=250	alpha=0.01	nbatches=100	bern=1	margin=4	epoch=1500	
dimension=100	alpha=0.001	nbatches=200	bern=0	margin=1	epoch=1500	
dimension=150	alpha=0.001	nbatches=200	bern=0	margin=1	epoch=1500	
dimension=200	alpha=0.001	nbatches=200	bern=0	margin=1	epoch=1500	
dimension=250	alpha=0.001	nbatches=200	bern=0	margin=1	epoch=1500	
dimension=100	alpha=0.001	nbatches=200	bern=1	margin=1	epoch=1500	
dimension=150	alpha=0.001	nbatches=200	bern=1	margin=1	epoch=1500	
dimension=200	alpha=0.001	nbatches=200	bern=1	margin=1	epoch=1500	
dimension=250	alpha=0.001	nbatches=200	bern=1	margin=1	epoch=1500	
dimension=100	alpha=0.001	nbatches=200	bern=0	margin=2	epoch=1500	
dimension=150	alpha=0.001	nbatches=200	bern=0	margin=2	epoch=1500	
dimension=200	alpha=0.001	nbatches=200	bern=0	margin=2	epoch=1500	
dimension=250	alpha=0.001	nbatches=200	bern=0	margin=2	epoch=1500	
dimension=100	alpha=0.001	nbatches=200	bern=1	margin=2	epoch=1500	
dimension=150	alpha=0.001	nbatches=200	bern=1	margin=2	epoch=1500	
dimension=200	alpha=0.001	nbatches=200	bern=1	margin=2	epoch=1500	
dimension=250	alpha=0.001	nbatches=200	bern=1	margin=2	epoch=1500	
dimension=100	alpha=0.001	nbatches=200	bern=0	margin=3	epoch=1500	
dimension=150	alpha=0.001	nbatches=200	bern=0	margin=3	epoch=1500	
dimension=200	alpha=0.001	nbatches=200	bern=0	margin=3	epoch=1500	
dimension=250	alpha=0.001	nbatches=200	bern=0	margin=3	epoch=1500	
dimension=100	alpha=0.001	nbatches=200	bern=1	margin=3	epoch=1500	
dimension=150	alpha=0.001	nbatches=200	bern=1	margin=3	epoch=1500	
dimension=200	alpha=0.001	nbatches=200	bern=1	margin=3	epoch=1500	
dimension=250	alpha=0.001	nbatches=200	bern=1	margin=3	epoch=1500	
dimension=100	alpha=0.001	nbatches=200	bern=0	margin=4	epoch=1500	
dimension=150	alpha=0.001	nbatches=200	bern=0	margin=4	epoch=1500	
dimension=200	alpha=0.001	nbatches=200	bern=0	margin=4	epoch=1500	
dimension=250	alpha=0.001	nbatches=200	bern=0	margin=4	epoch=1500	
dimension=100	alpha=0.001	nbatches=200	bern=1	margin=4	epoch=1500	
dimension=150	alpha=0.001	nbatches=200	bern=1	margin=4	epoch=1500	
dimension=200	alpha=0.001	nbatches=200	bern=1	margin=4	epoch=1500	
dimension=250	alpha=0.001	nbatches=200	bern=1	margin=4	epoch=1500	
dimension=100	alpha=0.01	nbatches=200	bern=0	margin=1	epoch=1500	
dimension=150	alpha=0.01	nbatches=200	bern=0	margin=1	epoch=1500	
dimension=200	alpha=0.01	nbatches=200	bern=0	margin=1	epoch=1500	
dimension=250	alpha=0.01	nbatches=200	bern=0	margin=1	epoch=1500	
dimension=100	alpha=0.01	nbatches=200	bern=1	margin=1	epoch=1500	
dimension=150	alpha=0.01	nbatches=200	bern=1	margin=1	epoch=1500	
dimension=200	alpha=0.01	nbatches=200	bern=1	margin=1	epoch=1500	
dimension=250	alpha=0.01	nbatches=200	bern=1	margin=1	epoch=1500	
dimension=100	alpha=0.01	nbatches=200	bern=0	margin=2	epoch=1500	
dimension=150	alpha=0.01	nbatches=200	bern=0	margin=2	epoch=1500	
dimension=200	alpha=0.01	nbatches=200	bern=0	margin=2	epoch=1500	
dimension=250	alpha=0.01	nbatches=200	bern=0	margin=2	epoch=1500	
dimension=100	alpha=0.01	nbatches=200	bern=1	margin=2	epoch=1500	
dimension=150	alpha=0.01	nbatches=200	bern=1	margin=2	epoch=1500	
dimension=200	alpha=0.01	nbatches=200	bern=1	margin=2	epoch=1500	
dimension=250	alpha=0.01	nbatches=200	bern=1	margin=2	epoch=1500	
dimension=100	alpha=0.01	nbatches=200	bern=0	margin=3	epoch=1500	
dimension=150	alpha=0.01	nbatches=200	bern=0	margin=3	epoch=1500	
dimension=200	alpha=0.01	nbatches=200	bern=0	margin=3	epoch=1500	
dimension=250	alpha=0.01	nbatches=200	bern=0	margin=3	epoch=1500	
dimension=100	alpha=0.01	nbatches=200	bern=1	margin=3	epoch=1500	
dimension=150	alpha=0.01	nbatches=200	bern=1	margin=3	epoch=1500	
dimension=200	alpha=0.01	nbatches=200	bern=1	margin=3	epoch=1500	
dimension=250	alpha=0.01	nbatches=200	bern=1	margin=3	epoch=1500	
dimension=100	alpha=0.01	nbatches=200	bern=0	margin=4	epoch=1500	
dimension=150	alpha=0.01	nbatches=200	bern=0	margin=4	epoch=1500	
dimension=200	alpha=0.01	nbatches=200	bern=0	margin=4	epoch=1500	
dimension=250	alpha=0.01	nbatches=200	bern=0	margin=4	epoch=1500	
dimension=100	alpha=0.01	nbatches=200	bern=1	margin=4	epoch=1500	
dimension=150	alpha=0.01	nbatches=200	bern=1	margin=4	epoch=1500	
dimension=200	alpha=0.01	nbatches=200	bern=1	margin=4	epoch=1500	
dimension=250	alpha=0.01	nbatches=200	bern=1	margin=4	epoch=1500	
