count=8	start=1	threads=4	
epoch=1000	nbatches=200	alpha=0.001	margin=1	dimension=100	bern=0	
epoch=1000	nbatches=200	alpha=0.001	margin=1	dimension=200	bern=0	
epoch=1000	nbatches=200	alpha=0.001	margin=2	dimension=100	bern=0	
epoch=1000	nbatches=200	alpha=0.001	margin=2	dimension=200	bern=0	
epoch=1500	nbatches=200	alpha=0.001	margin=1	dimension=100	bern=0	
epoch=1500	nbatches=200	alpha=0.001	margin=1	dimension=200	bern=0	
epoch=1500	nbatches=200	alpha=0.001	margin=2	dimension=100	bern=0	
epoch=1500	nbatches=200	alpha=0.001	margin=2	dimension=200	bern=0	
