threads=32	dataset=ACE17K
dimension=100	margin=1	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=150	margin=1	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=200	margin=1	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=250	margin=1	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=100	margin=1	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=150	margin=1	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=200	margin=1	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=250	margin=1	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=100	margin=2	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=150	margin=2	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=200	margin=2	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=250	margin=2	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=100	margin=2	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=150	margin=2	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=200	margin=2	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=250	margin=2	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=100	margin=3	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=150	margin=3	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=200	margin=3	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=250	margin=3	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=100	margin=3	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=150	margin=3	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=200	margin=3	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=250	margin=3	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=100	margin=4	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=150	margin=4	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=200	margin=4	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=250	margin=4	nbatches=100	alpha=0.001	bern=0	epoch=1000
dimension=100	margin=4	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=150	margin=4	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=200	margin=4	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=250	margin=4	nbatches=100	alpha=0.001	bern=1	epoch=1000
dimension=100	margin=1	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=150	margin=1	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=200	margin=1	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=250	margin=1	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=100	margin=1	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=150	margin=1	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=200	margin=1	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=250	margin=1	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=100	margin=2	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=150	margin=2	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=200	margin=2	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=250	margin=2	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=100	margin=2	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=150	margin=2	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=200	margin=2	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=250	margin=2	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=100	margin=3	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=150	margin=3	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=200	margin=3	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=250	margin=3	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=100	margin=3	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=150	margin=3	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=200	margin=3	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=250	margin=3	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=100	margin=4	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=150	margin=4	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=200	margin=4	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=250	margin=4	nbatches=100	alpha=0.01	bern=0	epoch=1000
dimension=100	margin=4	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=150	margin=4	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=200	margin=4	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=250	margin=4	nbatches=100	alpha=0.01	bern=1	epoch=1000
dimension=100	margin=1	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=150	margin=1	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=200	margin=1	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=250	margin=1	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=100	margin=1	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=150	margin=1	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=200	margin=1	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=250	margin=1	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=100	margin=2	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=150	margin=2	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=200	margin=2	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=250	margin=2	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=100	margin=2	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=150	margin=2	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=200	margin=2	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=250	margin=2	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=100	margin=3	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=150	margin=3	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=200	margin=3	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=250	margin=3	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=100	margin=3	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=150	margin=3	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=200	margin=3	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=250	margin=3	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=100	margin=4	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=150	margin=4	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=200	margin=4	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=250	margin=4	nbatches=200	alpha=0.001	bern=0	epoch=1000
dimension=100	margin=4	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=150	margin=4	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=200	margin=4	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=250	margin=4	nbatches=200	alpha=0.001	bern=1	epoch=1000
dimension=100	margin=1	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=150	margin=1	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=200	margin=1	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=250	margin=1	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=100	margin=1	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=150	margin=1	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=200	margin=1	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=250	margin=1	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=100	margin=2	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=150	margin=2	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=200	margin=2	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=250	margin=2	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=100	margin=2	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=150	margin=2	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=200	margin=2	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=250	margin=2	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=100	margin=3	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=150	margin=3	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=200	margin=3	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=250	margin=3	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=100	margin=3	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=150	margin=3	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=200	margin=3	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=250	margin=3	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=100	margin=4	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=150	margin=4	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=200	margin=4	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=250	margin=4	nbatches=200	alpha=0.01	bern=0	epoch=1000
dimension=100	margin=4	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=150	margin=4	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=200	margin=4	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=250	margin=4	nbatches=200	alpha=0.01	bern=1	epoch=1000
dimension=100	margin=1	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=150	margin=1	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=200	margin=1	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=250	margin=1	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=100	margin=1	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=150	margin=1	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=200	margin=1	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=250	margin=1	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=100	margin=2	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=150	margin=2	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=200	margin=2	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=250	margin=2	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=100	margin=2	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=150	margin=2	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=200	margin=2	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=250	margin=2	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=100	margin=3	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=150	margin=3	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=200	margin=3	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=250	margin=3	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=100	margin=3	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=150	margin=3	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=200	margin=3	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=250	margin=3	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=100	margin=4	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=150	margin=4	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=200	margin=4	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=250	margin=4	nbatches=100	alpha=0.001	bern=0	epoch=1500
dimension=100	margin=4	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=150	margin=4	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=200	margin=4	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=250	margin=4	nbatches=100	alpha=0.001	bern=1	epoch=1500
dimension=100	margin=1	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=150	margin=1	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=200	margin=1	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=250	margin=1	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=100	margin=1	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=150	margin=1	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=200	margin=1	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=250	margin=1	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=100	margin=2	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=150	margin=2	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=200	margin=2	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=250	margin=2	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=100	margin=2	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=150	margin=2	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=200	margin=2	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=250	margin=2	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=100	margin=3	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=150	margin=3	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=200	margin=3	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=250	margin=3	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=100	margin=3	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=150	margin=3	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=200	margin=3	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=250	margin=3	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=100	margin=4	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=150	margin=4	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=200	margin=4	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=250	margin=4	nbatches=100	alpha=0.01	bern=0	epoch=1500
dimension=100	margin=4	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=150	margin=4	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=200	margin=4	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=250	margin=4	nbatches=100	alpha=0.01	bern=1	epoch=1500
dimension=100	margin=1	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=150	margin=1	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=200	margin=1	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=250	margin=1	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=100	margin=1	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=150	margin=1	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=200	margin=1	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=250	margin=1	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=100	margin=2	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=150	margin=2	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=200	margin=2	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=250	margin=2	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=100	margin=2	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=150	margin=2	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=200	margin=2	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=250	margin=2	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=100	margin=3	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=150	margin=3	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=200	margin=3	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=250	margin=3	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=100	margin=3	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=150	margin=3	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=200	margin=3	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=250	margin=3	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=100	margin=4	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=150	margin=4	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=200	margin=4	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=250	margin=4	nbatches=200	alpha=0.001	bern=0	epoch=1500
dimension=100	margin=4	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=150	margin=4	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=200	margin=4	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=250	margin=4	nbatches=200	alpha=0.001	bern=1	epoch=1500
dimension=100	margin=1	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=150	margin=1	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=200	margin=1	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=250	margin=1	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=100	margin=1	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=150	margin=1	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=200	margin=1	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=250	margin=1	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=100	margin=2	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=150	margin=2	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=200	margin=2	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=250	margin=2	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=100	margin=2	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=150	margin=2	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=200	margin=2	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=250	margin=2	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=100	margin=3	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=150	margin=3	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=200	margin=3	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=250	margin=3	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=100	margin=3	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=150	margin=3	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=200	margin=3	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=250	margin=3	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=100	margin=4	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=150	margin=4	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=200	margin=4	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=250	margin=4	nbatches=200	alpha=0.01	bern=0	epoch=1500
dimension=100	margin=4	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=150	margin=4	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=200	margin=4	nbatches=200	alpha=0.01	bern=1	epoch=1500
dimension=250	margin=4	nbatches=200	alpha=0.01	bern=1	epoch=1500
