threads=32	start=1	dataset=ACE17K	count=256	
margin=1	nbatches=100	alpha=0.001	epoch=1000	dimension=100	bern=0	
margin=1	nbatches=100	alpha=0.001	epoch=1000	dimension=150	bern=0	
margin=1	nbatches=100	alpha=0.001	epoch=1000	dimension=200	bern=0	
margin=1	nbatches=100	alpha=0.001	epoch=1000	dimension=250	bern=0	
margin=1	nbatches=100	alpha=0.001	epoch=1000	dimension=100	bern=1	
margin=1	nbatches=100	alpha=0.001	epoch=1000	dimension=150	bern=1	
margin=1	nbatches=100	alpha=0.001	epoch=1000	dimension=200	bern=1	
margin=1	nbatches=100	alpha=0.001	epoch=1000	dimension=250	bern=1	
margin=2	nbatches=100	alpha=0.001	epoch=1000	dimension=100	bern=0	
margin=2	nbatches=100	alpha=0.001	epoch=1000	dimension=150	bern=0	
margin=2	nbatches=100	alpha=0.001	epoch=1000	dimension=200	bern=0	
margin=2	nbatches=100	alpha=0.001	epoch=1000	dimension=250	bern=0	
margin=2	nbatches=100	alpha=0.001	epoch=1000	dimension=100	bern=1	
margin=2	nbatches=100	alpha=0.001	epoch=1000	dimension=150	bern=1	
margin=2	nbatches=100	alpha=0.001	epoch=1000	dimension=200	bern=1	
margin=2	nbatches=100	alpha=0.001	epoch=1000	dimension=250	bern=1	
margin=3	nbatches=100	alpha=0.001	epoch=1000	dimension=100	bern=0	
margin=3	nbatches=100	alpha=0.001	epoch=1000	dimension=150	bern=0	
margin=3	nbatches=100	alpha=0.001	epoch=1000	dimension=200	bern=0	
margin=3	nbatches=100	alpha=0.001	epoch=1000	dimension=250	bern=0	
margin=3	nbatches=100	alpha=0.001	epoch=1000	dimension=100	bern=1	
margin=3	nbatches=100	alpha=0.001	epoch=1000	dimension=150	bern=1	
margin=3	nbatches=100	alpha=0.001	epoch=1000	dimension=200	bern=1	
margin=3	nbatches=100	alpha=0.001	epoch=1000	dimension=250	bern=1	
margin=4	nbatches=100	alpha=0.001	epoch=1000	dimension=100	bern=0	
margin=4	nbatches=100	alpha=0.001	epoch=1000	dimension=150	bern=0	
margin=4	nbatches=100	alpha=0.001	epoch=1000	dimension=200	bern=0	
margin=4	nbatches=100	alpha=0.001	epoch=1000	dimension=250	bern=0	
margin=4	nbatches=100	alpha=0.001	epoch=1000	dimension=100	bern=1	
margin=4	nbatches=100	alpha=0.001	epoch=1000	dimension=150	bern=1	
margin=4	nbatches=100	alpha=0.001	epoch=1000	dimension=200	bern=1	
margin=4	nbatches=100	alpha=0.001	epoch=1000	dimension=250	bern=1	
margin=1	nbatches=100	alpha=0.01	epoch=1000	dimension=100	bern=0	
margin=1	nbatches=100	alpha=0.01	epoch=1000	dimension=150	bern=0	
margin=1	nbatches=100	alpha=0.01	epoch=1000	dimension=200	bern=0	
margin=1	nbatches=100	alpha=0.01	epoch=1000	dimension=250	bern=0	
margin=1	nbatches=100	alpha=0.01	epoch=1000	dimension=100	bern=1	
margin=1	nbatches=100	alpha=0.01	epoch=1000	dimension=150	bern=1	
margin=1	nbatches=100	alpha=0.01	epoch=1000	dimension=200	bern=1	
margin=1	nbatches=100	alpha=0.01	epoch=1000	dimension=250	bern=1	
margin=2	nbatches=100	alpha=0.01	epoch=1000	dimension=100	bern=0	
margin=2	nbatches=100	alpha=0.01	epoch=1000	dimension=150	bern=0	
margin=2	nbatches=100	alpha=0.01	epoch=1000	dimension=200	bern=0	
margin=2	nbatches=100	alpha=0.01	epoch=1000	dimension=250	bern=0	
margin=2	nbatches=100	alpha=0.01	epoch=1000	dimension=100	bern=1	
margin=2	nbatches=100	alpha=0.01	epoch=1000	dimension=150	bern=1	
margin=2	nbatches=100	alpha=0.01	epoch=1000	dimension=200	bern=1	
margin=2	nbatches=100	alpha=0.01	epoch=1000	dimension=250	bern=1	
margin=3	nbatches=100	alpha=0.01	epoch=1000	dimension=100	bern=0	
margin=3	nbatches=100	alpha=0.01	epoch=1000	dimension=150	bern=0	
margin=3	nbatches=100	alpha=0.01	epoch=1000	dimension=200	bern=0	
margin=3	nbatches=100	alpha=0.01	epoch=1000	dimension=250	bern=0	
margin=3	nbatches=100	alpha=0.01	epoch=1000	dimension=100	bern=1	
margin=3	nbatches=100	alpha=0.01	epoch=1000	dimension=150	bern=1	
margin=3	nbatches=100	alpha=0.01	epoch=1000	dimension=200	bern=1	
margin=3	nbatches=100	alpha=0.01	epoch=1000	dimension=250	bern=1	
margin=4	nbatches=100	alpha=0.01	epoch=1000	dimension=100	bern=0	
margin=4	nbatches=100	alpha=0.01	epoch=1000	dimension=150	bern=0	
margin=4	nbatches=100	alpha=0.01	epoch=1000	dimension=200	bern=0	
margin=4	nbatches=100	alpha=0.01	epoch=1000	dimension=250	bern=0	
margin=4	nbatches=100	alpha=0.01	epoch=1000	dimension=100	bern=1	
margin=4	nbatches=100	alpha=0.01	epoch=1000	dimension=150	bern=1	
margin=4	nbatches=100	alpha=0.01	epoch=1000	dimension=200	bern=1	
margin=4	nbatches=100	alpha=0.01	epoch=1000	dimension=250	bern=1	
margin=1	nbatches=200	alpha=0.001	epoch=1000	dimension=100	bern=0	
margin=1	nbatches=200	alpha=0.001	epoch=1000	dimension=150	bern=0	
margin=1	nbatches=200	alpha=0.001	epoch=1000	dimension=200	bern=0	
margin=1	nbatches=200	alpha=0.001	epoch=1000	dimension=250	bern=0	
margin=1	nbatches=200	alpha=0.001	epoch=1000	dimension=100	bern=1	
margin=1	nbatches=200	alpha=0.001	epoch=1000	dimension=150	bern=1	
margin=1	nbatches=200	alpha=0.001	epoch=1000	dimension=200	bern=1	
margin=1	nbatches=200	alpha=0.001	epoch=1000	dimension=250	bern=1	
margin=2	nbatches=200	alpha=0.001	epoch=1000	dimension=100	bern=0	
margin=2	nbatches=200	alpha=0.001	epoch=1000	dimension=150	bern=0	
margin=2	nbatches=200	alpha=0.001	epoch=1000	dimension=200	bern=0	
margin=2	nbatches=200	alpha=0.001	epoch=1000	dimension=250	bern=0	
margin=2	nbatches=200	alpha=0.001	epoch=1000	dimension=100	bern=1	
margin=2	nbatches=200	alpha=0.001	epoch=1000	dimension=150	bern=1	
margin=2	nbatches=200	alpha=0.001	epoch=1000	dimension=200	bern=1	
margin=2	nbatches=200	alpha=0.001	epoch=1000	dimension=250	bern=1	
margin=3	nbatches=200	alpha=0.001	epoch=1000	dimension=100	bern=0	
margin=3	nbatches=200	alpha=0.001	epoch=1000	dimension=150	bern=0	
margin=3	nbatches=200	alpha=0.001	epoch=1000	dimension=200	bern=0	
margin=3	nbatches=200	alpha=0.001	epoch=1000	dimension=250	bern=0	
margin=3	nbatches=200	alpha=0.001	epoch=1000	dimension=100	bern=1	
margin=3	nbatches=200	alpha=0.001	epoch=1000	dimension=150	bern=1	
margin=3	nbatches=200	alpha=0.001	epoch=1000	dimension=200	bern=1	
margin=3	nbatches=200	alpha=0.001	epoch=1000	dimension=250	bern=1	
margin=4	nbatches=200	alpha=0.001	epoch=1000	dimension=100	bern=0	
margin=4	nbatches=200	alpha=0.001	epoch=1000	dimension=150	bern=0	
margin=4	nbatches=200	alpha=0.001	epoch=1000	dimension=200	bern=0	
margin=4	nbatches=200	alpha=0.001	epoch=1000	dimension=250	bern=0	
margin=4	nbatches=200	alpha=0.001	epoch=1000	dimension=100	bern=1	
margin=4	nbatches=200	alpha=0.001	epoch=1000	dimension=150	bern=1	
margin=4	nbatches=200	alpha=0.001	epoch=1000	dimension=200	bern=1	
margin=4	nbatches=200	alpha=0.001	epoch=1000	dimension=250	bern=1	
margin=1	nbatches=200	alpha=0.01	epoch=1000	dimension=100	bern=0	
margin=1	nbatches=200	alpha=0.01	epoch=1000	dimension=150	bern=0	
margin=1	nbatches=200	alpha=0.01	epoch=1000	dimension=200	bern=0	
margin=1	nbatches=200	alpha=0.01	epoch=1000	dimension=250	bern=0	
margin=1	nbatches=200	alpha=0.01	epoch=1000	dimension=100	bern=1	
margin=1	nbatches=200	alpha=0.01	epoch=1000	dimension=150	bern=1	
margin=1	nbatches=200	alpha=0.01	epoch=1000	dimension=200	bern=1	
margin=1	nbatches=200	alpha=0.01	epoch=1000	dimension=250	bern=1	
margin=2	nbatches=200	alpha=0.01	epoch=1000	dimension=100	bern=0	
margin=2	nbatches=200	alpha=0.01	epoch=1000	dimension=150	bern=0	
margin=2	nbatches=200	alpha=0.01	epoch=1000	dimension=200	bern=0	
margin=2	nbatches=200	alpha=0.01	epoch=1000	dimension=250	bern=0	
margin=2	nbatches=200	alpha=0.01	epoch=1000	dimension=100	bern=1	
margin=2	nbatches=200	alpha=0.01	epoch=1000	dimension=150	bern=1	
margin=2	nbatches=200	alpha=0.01	epoch=1000	dimension=200	bern=1	
margin=2	nbatches=200	alpha=0.01	epoch=1000	dimension=250	bern=1	
margin=3	nbatches=200	alpha=0.01	epoch=1000	dimension=100	bern=0	
margin=3	nbatches=200	alpha=0.01	epoch=1000	dimension=150	bern=0	
margin=3	nbatches=200	alpha=0.01	epoch=1000	dimension=200	bern=0	
margin=3	nbatches=200	alpha=0.01	epoch=1000	dimension=250	bern=0	
margin=3	nbatches=200	alpha=0.01	epoch=1000	dimension=100	bern=1	
margin=3	nbatches=200	alpha=0.01	epoch=1000	dimension=150	bern=1	
margin=3	nbatches=200	alpha=0.01	epoch=1000	dimension=200	bern=1	
margin=3	nbatches=200	alpha=0.01	epoch=1000	dimension=250	bern=1	
margin=4	nbatches=200	alpha=0.01	epoch=1000	dimension=100	bern=0	
margin=4	nbatches=200	alpha=0.01	epoch=1000	dimension=150	bern=0	
margin=4	nbatches=200	alpha=0.01	epoch=1000	dimension=200	bern=0	
margin=4	nbatches=200	alpha=0.01	epoch=1000	dimension=250	bern=0	
margin=4	nbatches=200	alpha=0.01	epoch=1000	dimension=100	bern=1	
margin=4	nbatches=200	alpha=0.01	epoch=1000	dimension=150	bern=1	
margin=4	nbatches=200	alpha=0.01	epoch=1000	dimension=200	bern=1	
margin=4	nbatches=200	alpha=0.01	epoch=1000	dimension=250	bern=1	
margin=1	nbatches=100	alpha=0.001	epoch=1500	dimension=100	bern=0	
margin=1	nbatches=100	alpha=0.001	epoch=1500	dimension=150	bern=0	
margin=1	nbatches=100	alpha=0.001	epoch=1500	dimension=200	bern=0	
margin=1	nbatches=100	alpha=0.001	epoch=1500	dimension=250	bern=0	
margin=1	nbatches=100	alpha=0.001	epoch=1500	dimension=100	bern=1	
margin=1	nbatches=100	alpha=0.001	epoch=1500	dimension=150	bern=1	
margin=1	nbatches=100	alpha=0.001	epoch=1500	dimension=200	bern=1	
margin=1	nbatches=100	alpha=0.001	epoch=1500	dimension=250	bern=1	
margin=2	nbatches=100	alpha=0.001	epoch=1500	dimension=100	bern=0	
margin=2	nbatches=100	alpha=0.001	epoch=1500	dimension=150	bern=0	
margin=2	nbatches=100	alpha=0.001	epoch=1500	dimension=200	bern=0	
margin=2	nbatches=100	alpha=0.001	epoch=1500	dimension=250	bern=0	
margin=2	nbatches=100	alpha=0.001	epoch=1500	dimension=100	bern=1	
margin=2	nbatches=100	alpha=0.001	epoch=1500	dimension=150	bern=1	
margin=2	nbatches=100	alpha=0.001	epoch=1500	dimension=200	bern=1	
margin=2	nbatches=100	alpha=0.001	epoch=1500	dimension=250	bern=1	
margin=3	nbatches=100	alpha=0.001	epoch=1500	dimension=100	bern=0	
margin=3	nbatches=100	alpha=0.001	epoch=1500	dimension=150	bern=0	
margin=3	nbatches=100	alpha=0.001	epoch=1500	dimension=200	bern=0	
margin=3	nbatches=100	alpha=0.001	epoch=1500	dimension=250	bern=0	
margin=3	nbatches=100	alpha=0.001	epoch=1500	dimension=100	bern=1	
margin=3	nbatches=100	alpha=0.001	epoch=1500	dimension=150	bern=1	
margin=3	nbatches=100	alpha=0.001	epoch=1500	dimension=200	bern=1	
margin=3	nbatches=100	alpha=0.001	epoch=1500	dimension=250	bern=1	
margin=4	nbatches=100	alpha=0.001	epoch=1500	dimension=100	bern=0	
margin=4	nbatches=100	alpha=0.001	epoch=1500	dimension=150	bern=0	
margin=4	nbatches=100	alpha=0.001	epoch=1500	dimension=200	bern=0	
margin=4	nbatches=100	alpha=0.001	epoch=1500	dimension=250	bern=0	
margin=4	nbatches=100	alpha=0.001	epoch=1500	dimension=100	bern=1	
margin=4	nbatches=100	alpha=0.001	epoch=1500	dimension=150	bern=1	
margin=4	nbatches=100	alpha=0.001	epoch=1500	dimension=200	bern=1	
margin=4	nbatches=100	alpha=0.001	epoch=1500	dimension=250	bern=1	
margin=1	nbatches=100	alpha=0.01	epoch=1500	dimension=100	bern=0	
margin=1	nbatches=100	alpha=0.01	epoch=1500	dimension=150	bern=0	
margin=1	nbatches=100	alpha=0.01	epoch=1500	dimension=200	bern=0	
margin=1	nbatches=100	alpha=0.01	epoch=1500	dimension=250	bern=0	
margin=1	nbatches=100	alpha=0.01	epoch=1500	dimension=100	bern=1	
margin=1	nbatches=100	alpha=0.01	epoch=1500	dimension=150	bern=1	
margin=1	nbatches=100	alpha=0.01	epoch=1500	dimension=200	bern=1	
margin=1	nbatches=100	alpha=0.01	epoch=1500	dimension=250	bern=1	
margin=2	nbatches=100	alpha=0.01	epoch=1500	dimension=100	bern=0	
margin=2	nbatches=100	alpha=0.01	epoch=1500	dimension=150	bern=0	
margin=2	nbatches=100	alpha=0.01	epoch=1500	dimension=200	bern=0	
margin=2	nbatches=100	alpha=0.01	epoch=1500	dimension=250	bern=0	
margin=2	nbatches=100	alpha=0.01	epoch=1500	dimension=100	bern=1	
margin=2	nbatches=100	alpha=0.01	epoch=1500	dimension=150	bern=1	
margin=2	nbatches=100	alpha=0.01	epoch=1500	dimension=200	bern=1	
margin=2	nbatches=100	alpha=0.01	epoch=1500	dimension=250	bern=1	
margin=3	nbatches=100	alpha=0.01	epoch=1500	dimension=100	bern=0	
margin=3	nbatches=100	alpha=0.01	epoch=1500	dimension=150	bern=0	
margin=3	nbatches=100	alpha=0.01	epoch=1500	dimension=200	bern=0	
margin=3	nbatches=100	alpha=0.01	epoch=1500	dimension=250	bern=0	
margin=3	nbatches=100	alpha=0.01	epoch=1500	dimension=100	bern=1	
margin=3	nbatches=100	alpha=0.01	epoch=1500	dimension=150	bern=1	
margin=3	nbatches=100	alpha=0.01	epoch=1500	dimension=200	bern=1	
margin=3	nbatches=100	alpha=0.01	epoch=1500	dimension=250	bern=1	
margin=4	nbatches=100	alpha=0.01	epoch=1500	dimension=100	bern=0	
margin=4	nbatches=100	alpha=0.01	epoch=1500	dimension=150	bern=0	
margin=4	nbatches=100	alpha=0.01	epoch=1500	dimension=200	bern=0	
margin=4	nbatches=100	alpha=0.01	epoch=1500	dimension=250	bern=0	
margin=4	nbatches=100	alpha=0.01	epoch=1500	dimension=100	bern=1	
margin=4	nbatches=100	alpha=0.01	epoch=1500	dimension=150	bern=1	
margin=4	nbatches=100	alpha=0.01	epoch=1500	dimension=200	bern=1	
margin=4	nbatches=100	alpha=0.01	epoch=1500	dimension=250	bern=1	
margin=1	nbatches=200	alpha=0.001	epoch=1500	dimension=100	bern=0	
margin=1	nbatches=200	alpha=0.001	epoch=1500	dimension=150	bern=0	
margin=1	nbatches=200	alpha=0.001	epoch=1500	dimension=200	bern=0	
margin=1	nbatches=200	alpha=0.001	epoch=1500	dimension=250	bern=0	
margin=1	nbatches=200	alpha=0.001	epoch=1500	dimension=100	bern=1	
margin=1	nbatches=200	alpha=0.001	epoch=1500	dimension=150	bern=1	
margin=1	nbatches=200	alpha=0.001	epoch=1500	dimension=200	bern=1	
margin=1	nbatches=200	alpha=0.001	epoch=1500	dimension=250	bern=1	
margin=2	nbatches=200	alpha=0.001	epoch=1500	dimension=100	bern=0	
margin=2	nbatches=200	alpha=0.001	epoch=1500	dimension=150	bern=0	
margin=2	nbatches=200	alpha=0.001	epoch=1500	dimension=200	bern=0	
margin=2	nbatches=200	alpha=0.001	epoch=1500	dimension=250	bern=0	
margin=2	nbatches=200	alpha=0.001	epoch=1500	dimension=100	bern=1	
margin=2	nbatches=200	alpha=0.001	epoch=1500	dimension=150	bern=1	
margin=2	nbatches=200	alpha=0.001	epoch=1500	dimension=200	bern=1	
margin=2	nbatches=200	alpha=0.001	epoch=1500	dimension=250	bern=1	
margin=3	nbatches=200	alpha=0.001	epoch=1500	dimension=100	bern=0	
margin=3	nbatches=200	alpha=0.001	epoch=1500	dimension=150	bern=0	
margin=3	nbatches=200	alpha=0.001	epoch=1500	dimension=200	bern=0	
margin=3	nbatches=200	alpha=0.001	epoch=1500	dimension=250	bern=0	
margin=3	nbatches=200	alpha=0.001	epoch=1500	dimension=100	bern=1	
margin=3	nbatches=200	alpha=0.001	epoch=1500	dimension=150	bern=1	
margin=3	nbatches=200	alpha=0.001	epoch=1500	dimension=200	bern=1	
margin=3	nbatches=200	alpha=0.001	epoch=1500	dimension=250	bern=1	
margin=4	nbatches=200	alpha=0.001	epoch=1500	dimension=100	bern=0	
margin=4	nbatches=200	alpha=0.001	epoch=1500	dimension=150	bern=0	
margin=4	nbatches=200	alpha=0.001	epoch=1500	dimension=200	bern=0	
margin=4	nbatches=200	alpha=0.001	epoch=1500	dimension=250	bern=0	
margin=4	nbatches=200	alpha=0.001	epoch=1500	dimension=100	bern=1	
margin=4	nbatches=200	alpha=0.001	epoch=1500	dimension=150	bern=1	
margin=4	nbatches=200	alpha=0.001	epoch=1500	dimension=200	bern=1	
margin=4	nbatches=200	alpha=0.001	epoch=1500	dimension=250	bern=1	
margin=1	nbatches=200	alpha=0.01	epoch=1500	dimension=100	bern=0	
margin=1	nbatches=200	alpha=0.01	epoch=1500	dimension=150	bern=0	
margin=1	nbatches=200	alpha=0.01	epoch=1500	dimension=200	bern=0	
margin=1	nbatches=200	alpha=0.01	epoch=1500	dimension=250	bern=0	
margin=1	nbatches=200	alpha=0.01	epoch=1500	dimension=100	bern=1	
margin=1	nbatches=200	alpha=0.01	epoch=1500	dimension=150	bern=1	
margin=1	nbatches=200	alpha=0.01	epoch=1500	dimension=200	bern=1	
margin=1	nbatches=200	alpha=0.01	epoch=1500	dimension=250	bern=1	
margin=2	nbatches=200	alpha=0.01	epoch=1500	dimension=100	bern=0	
margin=2	nbatches=200	alpha=0.01	epoch=1500	dimension=150	bern=0	
margin=2	nbatches=200	alpha=0.01	epoch=1500	dimension=200	bern=0	
margin=2	nbatches=200	alpha=0.01	epoch=1500	dimension=250	bern=0	
margin=2	nbatches=200	alpha=0.01	epoch=1500	dimension=100	bern=1	
margin=2	nbatches=200	alpha=0.01	epoch=1500	dimension=150	bern=1	
margin=2	nbatches=200	alpha=0.01	epoch=1500	dimension=200	bern=1	
margin=2	nbatches=200	alpha=0.01	epoch=1500	dimension=250	bern=1	
margin=3	nbatches=200	alpha=0.01	epoch=1500	dimension=100	bern=0	
margin=3	nbatches=200	alpha=0.01	epoch=1500	dimension=150	bern=0	
margin=3	nbatches=200	alpha=0.01	epoch=1500	dimension=200	bern=0	
margin=3	nbatches=200	alpha=0.01	epoch=1500	dimension=250	bern=0	
margin=3	nbatches=200	alpha=0.01	epoch=1500	dimension=100	bern=1	
margin=3	nbatches=200	alpha=0.01	epoch=1500	dimension=150	bern=1	
margin=3	nbatches=200	alpha=0.01	epoch=1500	dimension=200	bern=1	
margin=3	nbatches=200	alpha=0.01	epoch=1500	dimension=250	bern=1	
margin=4	nbatches=200	alpha=0.01	epoch=1500	dimension=100	bern=0	
margin=4	nbatches=200	alpha=0.01	epoch=1500	dimension=150	bern=0	
margin=4	nbatches=200	alpha=0.01	epoch=1500	dimension=200	bern=0	
margin=4	nbatches=200	alpha=0.01	epoch=1500	dimension=250	bern=0	
margin=4	nbatches=200	alpha=0.01	epoch=1500	dimension=100	bern=1	
margin=4	nbatches=200	alpha=0.01	epoch=1500	dimension=150	bern=1	
margin=4	nbatches=200	alpha=0.01	epoch=1500	dimension=200	bern=1	
margin=4	nbatches=200	alpha=0.01	epoch=1500	dimension=250	bern=1	
