thread=4	start=1	count=8	
epoch=1000	bern=0	dimension=100	nbatches=200	margin=1	alpha=0.001	
epoch=1000	bern=0	dimension=200	nbatches=200	margin=1	alpha=0.001	
epoch=1000	bern=0	dimension=100	nbatches=200	margin=2	alpha=0.001	
epoch=1000	bern=0	dimension=200	nbatches=200	margin=2	alpha=0.001	
epoch=1500	bern=0	dimension=100	nbatches=200	margin=1	alpha=0.001	
epoch=1500	bern=0	dimension=200	nbatches=200	margin=1	alpha=0.001	
epoch=1500	bern=0	dimension=100	nbatches=200	margin=2	alpha=0.001	
epoch=1500	bern=0	dimension=200	nbatches=200	margin=2	alpha=0.001	
