database=ACE17K_new_relation	threads=32
alpha=0.03	bern=0	dimension=150	epoch=1000	lmbda=0.001	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.03	bern=0	dimension=150	epoch=1000	lmbda=0.001	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.03	bern=0	dimension=150	epoch=1000	lmbda=0.01	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.03	bern=0	dimension=150	epoch=1000	lmbda=0.01	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.05	bern=0	dimension=150	epoch=1000	lmbda=0.001	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.05	bern=0	dimension=150	epoch=1000	lmbda=0.001	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.05	bern=0	dimension=150	epoch=1000	lmbda=0.01	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.05	bern=0	dimension=150	epoch=1000	lmbda=0.01	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.03	bern=1	dimension=150	epoch=1000	lmbda=0.001	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.03	bern=1	dimension=150	epoch=1000	lmbda=0.001	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.03	bern=1	dimension=150	epoch=1000	lmbda=0.01	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.03	bern=1	dimension=150	epoch=1000	lmbda=0.01	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.05	bern=1	dimension=150	epoch=1000	lmbda=0.001	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.05	bern=1	dimension=150	epoch=1000	lmbda=0.001	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.05	bern=1	dimension=150	epoch=1000	lmbda=0.01	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.05	bern=1	dimension=150	epoch=1000	lmbda=0.01	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
