database=ACE17K_new_relation	threads=32
alpha=0.01	bern=0	dimension=300	epoch=500	margin=1.0	model=ACE17K/TransH_test/1	nbatches=100
alpha=0.01	bern=0	dimension=300	epoch=500	margin=1.0	model=ACE17K/WTransH_test/1	nbatches=100
alpha=0.03	bern=0	dimension=300	epoch=500	margin=1.0	model=ACE17K/TransH_test/1	nbatches=100
alpha=0.03	bern=0	dimension=300	epoch=500	margin=1.0	model=ACE17K/WTransH_test/1	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=500	margin=1.0	model=ACE17K/TransH_test/1	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=500	margin=1.0	model=ACE17K/WTransH_test/1	nbatches=100
alpha=0.01	bern=0	dimension=300	epoch=500	margin=3.0	model=ACE17K/TransH_test/1	nbatches=100
alpha=0.01	bern=0	dimension=300	epoch=500	margin=3.0	model=ACE17K/WTransH_test/1	nbatches=100
alpha=0.03	bern=0	dimension=300	epoch=500	margin=3.0	model=ACE17K/TransH_test/1	nbatches=100
alpha=0.03	bern=0	dimension=300	epoch=500	margin=3.0	model=ACE17K/WTransH_test/1	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=500	margin=3.0	model=ACE17K/TransH_test/1	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=500	margin=3.0	model=ACE17K/WTransH_test/1	nbatches=100
