database=ACE17K_new_relation	threads=32
alpha=0.001	bern=0	dimension=300	epoch=5000	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=5000	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.002	bern=0	dimension=300	epoch=5000	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.002	bern=0	dimension=300	epoch=5000	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.003	bern=0	dimension=300	epoch=5000	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.003	bern=0	dimension=300	epoch=5000	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.004	bern=0	dimension=300	epoch=5000	margin=2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.004	bern=0	dimension=300	epoch=5000	margin=2.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=5000	margin=2.5	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=5000	margin=2.5	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.002	bern=0	dimension=300	epoch=5000	margin=2.5	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.002	bern=0	dimension=300	epoch=5000	margin=2.5	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.003	bern=0	dimension=300	epoch=5000	margin=2.5	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.003	bern=0	dimension=300	epoch=5000	margin=2.5	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.004	bern=0	dimension=300	epoch=5000	margin=2.5	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.004	bern=0	dimension=300	epoch=5000	margin=2.5	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=5000	margin=3.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=5000	margin=3.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.002	bern=0	dimension=300	epoch=5000	margin=3.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.002	bern=0	dimension=300	epoch=5000	margin=3.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.003	bern=0	dimension=300	epoch=5000	margin=3.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.003	bern=0	dimension=300	epoch=5000	margin=3.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.004	bern=0	dimension=300	epoch=5000	margin=3.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.004	bern=0	dimension=300	epoch=5000	margin=3.0	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=5000	margin=3.5	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=5000	margin=3.5	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.002	bern=0	dimension=300	epoch=5000	margin=3.5	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.002	bern=0	dimension=300	epoch=5000	margin=3.5	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.003	bern=0	dimension=300	epoch=5000	margin=3.5	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.003	bern=0	dimension=300	epoch=5000	margin=3.5	model=ACE17K/WTransE_test/1	nbatches=100
alpha=0.004	bern=0	dimension=300	epoch=5000	margin=3.5	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.004	bern=0	dimension=300	epoch=5000	margin=3.5	model=ACE17K/WTransE_test/1	nbatches=100
