database=ACE17K_new_relation	threads=32
alpha=0.003	bern=0	dimension=300	epoch=500	margin=-1.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.01	bern=0	dimension=300	epoch=500	margin=-1.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=500	margin=-1.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.003	bern=0	dimension=300	epoch=500	margin=-1.5	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.01	bern=0	dimension=300	epoch=500	margin=-1.5	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=500	margin=-1.5	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.003	bern=0	dimension=300	epoch=500	margin=-2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.01	bern=0	dimension=300	epoch=500	margin=-2.0	model=ACE17K/TransE_detailed/6	nbatches=100
alpha=0.001	bern=0	dimension=300	epoch=500	margin=-2.0	model=ACE17K/TransE_detailed/6	nbatches=100
